<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivequant.drivekit.permissionsutils">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity android:name=".diagnosis.activity.AppDiagnosisActivity" />
        <activity android:name=".permissions.activity.RequestPermissionActivity" />
        <activity android:name=".permissions.activity.BasePermissionActivity" />
        <activity android:name=".permissions.activity.LocationPermissionActivity" />
        <activity android:name=".permissions.activity.BackgroundTaskPermissionActivity" />
        <activity android:name=".permissions.activity.ActivityRecognitionPermissionActivity" />

        <provider
            android:name=".diagnosis.provider.PermissionFileProvider"
            android:authorities="drivekit-permission-ui.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>