<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivequant.drivekit.ui">
    <application>
        <activity
            android:name=".tripdetail.activity.TripDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trips.activity.TripsListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transportationmode.activity.TransportationModeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
    </application>
</manifest>
