<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivequant.drivekit.challenge.ui">

    <application>
        <activity android:name=".joinchallenge.activity.ChallengeRulesActivity"/>
        <activity
            android:name=".joinchallenge.activity.ChallengeJoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".challengelist.activity.ChallengeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>