<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:enableOnBackInvokedCallback="false"
        android:supportsRtl="true">
        <activity
            android:name=".challengedetail.activity.ChallengeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".joinchallenge.activity.ChallengeRulesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".joinchallenge.activity.ChallengeParticipationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".challengelist.activity.ChallengeListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.drivequant.drivekit.challenge.ui.ChallengeUIInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
