<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivekit.drivekitdemoapp">

    <application
        android:name="com.drivekit.demoapp.DriveKitDemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9qMMsU8aKZTE1GHO7ByMMxT5T44aqsfw"/>
        <activity
            android:name="com.drivekit.demoapp.splashscreen.activity.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.drivekit.demoapp.onboarding.activity.ApiKeyActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.drivekit.demoapp.onboarding.activity.UserInfoActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.onboarding.activity.UserIdActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.onboarding.activity.PermissionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.onboarding.activity.VehiclesActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.dashboard.activity.DashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.features.activity.FeatureListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.drivekit.demoapp.simulator.activity.TripSimulatorActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.simulator.activity.TripSimulatorDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.settings.activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.settings.activity.DeleteAccountActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.drivekit.demoapp.notification.settings.activity.NotificationSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>