<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivequant.drivekit.driverachievement.ui">

    <application>
        <activity
            android:name=".rankings.activity.RankingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".badges.activity.BadgeListActivity" />
        <activity
            android:name=".streaks.activity.StreaksListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>