<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:enableOnBackInvokedCallback="false"
        android:supportsRtl="true">
        <activity
            android:name=".rankings.activity.RankingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".badges.activity.BadgeListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".streaks.activity.StreaksListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.drivequant.drivekit.driverachievement.ui.DriverAchievementUIInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
