<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drivequant.drivekit.vehicle.ui">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".picker.activity.VehiclePickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vehicles.activity.VehiclesListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vehicledetail.activity.VehicleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetooth.activity.BluetoothActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="drivekit-vehicle-ui.provider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>
</manifest>
